<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameLive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GameLiveUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LiveDemo3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LiveDemo3iOS7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF1314331DAB752000FEBACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1314431DAB752000FEBACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFAF4B331D2B6C7800560B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF10EF11D1A297900ECE11E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
